


.section_space {

  margin-top: 5rem;
  margin-bottom: 5rem;
}


.title_header_space {

  margin-top: 1rem;
  margin-bottom: 2rem;
}

ul li {

  list-style: none;
  text-align: left !important;
}

ul {

  padding-left: 0px;


}


li {

  margin-left: 0px;

}
