
/* font-family: 'Montserrat', sans-serif; */


.section_space {

  margin-top: 5rem;
  margin-bottom: 5rem;
}


.title_header_space {

  margin-top: 1rem;
  margin-bottom: 2rem;
}

ul li {

  list-style: none;
  text-align: left !important;
}

ul {

  padding-left: 0px;


}

<<<<<<< HEAD
=======
.custome_header_fonts {

font-family: 'Montserrat', sans-serif;
}

>>>>>>> d07ed7e84042ca5cbee2c9b1399511abcc62f708

li {

  margin-left: 0px;

}
